alias la='ls -A'
alias lh='ls -h'
alias ll='ls -l'
alias ls='ls -G --color'

alias ts-node='/workspace/type-system-typescript/node_modules/.bin/ts-node'

alias build='npm run build'
alias run='npm start'
alias clean='npm run clean'